<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Ninja</title>
</head>

<body>
    <h1>Please create your new Ninja</h1>
    <!-- This form will submit a post method to return render template redirect back to the selected dojo page -->
    <form action="/create_ninja" method="POST">
        <!-- have to make a drop down list of different dojos you can select-->
        <select name="dojo_name" id=""></select>
        <!-- have to make a drop down list of different dojos you can select-->
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
        <label for="age">Age:</label>
        <input type="text" name="age">
        <!-- fix this dojo_id jinja syntax-->
        <input type="hidden" value="{{ dojo_id?? }}" name="dojo_id">
        <!-- <input type="hidden" name="dojo_id"> -->
        <input type="submit" value="Add User">
    </form>
    <a href="/">Home</a>
</body>

</html>