<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Flask</title>
</head>

<body>

    <h1>These are my friends</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            {%for one_friend in friends%}
            <tr>
                <td>{{one_friend.name1}}</td>
                <td>{{one_friend.name2}}</td>
                <td>{{one_friend.email_address}}</td>
                <td><a href="/users/edit/{{one_friend.id}}">Edit</a></td>
                <td><a href="/users/{{one_friend.id}}">View</a></td>
                <td><a href="/users/delete/{{one_friend.id}}">Delete</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <br>
    <a href="/test">Add a New User</a>
</body>