<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERNAME ON THIS PAGE</title>
</head>

<body>
    <h1>Full Name</h1>
    <p>{{friends.name1}} {{friends.name2}} </p>
    <p>Email</p>
    <p>{{friends.email_address}}</p>
    <p>Created on</p>
    <p>{{friends.created_at}}</p>
    <p>Updated at</p>
    <p>{{friends.updated_at}}</p>
</body>

</html>