<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERNAME ON THIS PAGE</title>
</head>

<body>
    <h1>View User: {{friends.name1}} {{friends.name2}}</h1>
    <h2>Full Name</h2>
    <p>{{friends.name1}} {{friends.name2}} </p>
    <h2>Email</h2>
    <p>{{friends.email_address}}</p>
    <h2>Created on</h2>
    <p>{{friends.created_at}}</p>
    <h2>Updated at</h2>
    <p>{{friends.updated_at}}</p>
    <br>
    <a href="/">Home</a>
    <br>
    <!-- this does not work -->
    <a href="/users/delete/{{friends.id}}">Delete User</a>
    <!-- this does not work -->


    <!-- this does not work -->
    <a href="/users/edit/{{friends.id}}">Edit User</a>
    <!-- this does not work -->



</body>

</html>